body {
	background-color: #b4b4b4;
	color: #333;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 0;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 10;
}

.frame {
	width: 49%;
	height: 128px;
	border: 0;
	margin: 0;
}

.frame-container {
	display: flex;
	justify-content: space-between;

	max-width: 1280px;
}

.center-frame {
	display: flex;
	justify-content: center;

	max-width: 1280px;
}