h3 {
	color: bisque;
}

.form {
	text-align: center;
	border: 2px solid black;
	box-sizing: border-box;
	border-radius: 23px 23px 23px 23px;

}

input[type="text"] {
	padding: 5px;
	border: 2px solid magenta;
	background-color: black;
	color: whitesmoke;
	font-size: medium;
	font-style: bold;
	border-radius: 10px;
}
input[type="text"]:focus {
	outline:invert;
	border: 3px solid black;
}