body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	border: 2px solid black;
	box-sizing: border-box;
	border-radius: 23px 0 0 23px;
	color:	#9f3ebf;
}

.calculator {
	text-align: center;
}

input, button {
	margin: 5px;
	padding: 8px;
}

button {
	cursor: pointer;
}